openapi: 3.0.1
info:
  title: master-data:master-clients
  description: >
    API for master clients - both reading existing master clients and creating
    new master clients is supported. However, updating or deleting existing
    master clients is not yet supported.

    The master client entity is used across multiple DATEV business applications
    to represent common master data entities such as companies or natural
    persons. The master client entity provides data attributes such as
    identification attributes (like names), contact data (phone, e-mail, postal
    address) and other attributes that are required by DATEV or third party
    business applications.


    The master client entity is most commonly used to represent clients
    (customers) of DATEV members, but its use is not restricted to that business
    role.


    Each master client entity is contained in exactly one __data environment__.
    Each data environment is owned and controlled by exactly one __business
    partner__ (such as a tax consultant or a lawyer that is a  DATEV member).


    Data describing the legal person (such as a company) and/or the natural
    person can be accessed as embedded subresources of the "master-clients"
    primary resource. At least one of both subresources (legal and/or natural
    person) is guaranteed to be present. These are sometimes referred to as the
    *"client addressees"*.


    By default, both addressee subresources are __not__ embedded in the
    "master-clients" resource. If you want to retrieve the addressee
    subresources, an explicit "expand" parameter must be used as explained
    further down.


    In addition to master client entities, basic information about the current
    user's business partner can be retrieved through the "org-info" resource
    together with the "data-environments" resource.


    Starting with version 3 of the API a number of attributes of master clients
    and addressees are administered as "historical". This means that these
    attributes are provided as lists or arrays which hold both the current valid
    and all previous and/or future values of a specific attribute. It's possible
    to derive time periods from historically administered attributes that
    indicate the validity range of a particular value.


    This is best illustrated by the following example:


    ```json

    "job_titles": [
      { "value":"Müller" },
      { "value":"Bäcker",  "valid_from":"1995-04-01" },
      { "value":"Metzger", "valid_from":"2001-07-01" }
    ]

    ```


    In this example, the profession "Müller" ("miller") was valid until
    03/31/1995.  

    "Bäcker" ("baker") was valid from 04/01/1995 to 06/30/2001.  

    The value "Metzger" ("butcher") is valid starting 07/01/2001.  


    For all historically administered attributes, there is an additional
    property that indicates the current valid value (the value that is valid
    today/as of the system time). The names of these attributes are all prefixed
    with "current". In the example above, the property name is
    "current_job_title" with the value "Metzger".
  license:
    name: DATEV eG
    url: https://www.datev.de
  version: '3.1'
  x-ibm-name: master-data-master-clients
servers:
  - url: https://master-data-master-clients.api.datev.de/platform/v3
  - url: https://master-data-master-clients.api.datev.de/platform-sandbox/v3
tags:
  - name: app
    description: Read or configure meta data about API consumer access.
  - name: org-info
    description: Read organization information.
  - name: master-clients
    description: Read master clients
paths:
  /apps:
    put:
      tags:
        - app
      summary: >-
        Update meta data about API consumer access, e.g. the schema of the
        returned master clients (contexts & bricks). Currently only available in
        sandbox.
      operationId: updateApp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/App.Update'
        required: true
      responses:
        '200':
          description: Update was successful.
        '500':
          description: >-
            Unexpected server error occurred. Further retries may not yield
            different results and should be avoided. Should the problem persist,
            please contact support.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '503':
          description: Service is currently not available. Please try again later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
        - datev_openid_sandbox:
            - datev:master-data:master-clients:read
          client_id: []
          client_secret: []
        - datev_openid_sandbox:
            - datev:master-data:master-clients:read
          client_id: []
  /master-clients/search:
    post:
      tags:
        - master-clients
      summary: Returns a list of master clients. Provides extended search abilities.
      description: >-
        Returns a list of all master clients that can be accessed by the user.
        Extended search parameters can be provided in the request body.
      operationId: search
      parameters:
        - name: expand
          in: query
          description: >-
            If 'true' is given, the full master client will be returned. If
            'false' is given, only some basic fields will be returned.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search'
        required: true
      responses:
        '200':
          description: >-
            List of accessible master clients has been returned that matched the
            search parameters.
          headers:
            Total-Count:
              description: Total count of master clients available
              style: simple
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MasterClientFull'
        '400':
          description: >-
            A client error has occurred. Further information is contained in the
            response message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: >
            Retrieval of master clients is not allowed. This can be caused by
            missing security scopes or missing user permissions.

            | Reason code | Description or cause |

            | ----------- | -------------------- |

            | `NO_USER_PERMISSIONS` |  The user has no permissions to access any
            master clients. |

            | `NO_APP_GRANTS` |  The requesting app was not granted access to
            any master client. |
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: >
            The user does not have any data environments and therefore cannot
            retrieve any master clients.

            | Reason code | Description or cause |

            | ----------- | -------------------- |

            | `NO_DATA_ENVIRONMENTS` |  The user has no data environments. |
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: >-
            Unexpected server error occurred. Further retries may not yield
            different results and should be avoided. Should the problem persist,
            please contact support.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '502':
          description: A problem in a backing service occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
        - datev_openid:
            - datev:master-data:master-clients:read
          client_id: []
          client_secret: []
        - datev_openid_sandbox:
            - datev:master-data:master-clients:read
          client_id: []
          client_secret: []
        - datev_openid:
            - datev:master-data:master-clients:read
          client_id: []
        - datev_openid_sandbox:
            - datev:master-data:master-clients:read
          client_id: []
  /master-clients/{master-client-id}:
    get:
      tags:
        - master-clients
      summary: Retrieve a specific master client.
      description: Returns a specific master client which the user has access to.
      operationId: findByZmoId
      parameters:
        - name: master-client-id
          in: path
          description: ID that identifies the master client.
          required: true
          schema:
            type: string
            format: uuid
          example: 76ace1ef-0c0a-446d-a35f-c8909e59708e
        - name: business-partner-id
          in: query
          description: >-
            If given only master clients belonging to the referenced business
            partner will be returned.
          required: false
          schema:
            minimum: 1
            type: integer
            format: int32
          example: 489345
        - name: expand
          in: query
          description: >-
            If 'true' is given, the full master client will be returned. If
            'false' is given, only some basic fields will be returned.
          required: false
          schema:
            type: string
        - name: if-none-match
          in: header
          description: >-
            When provided returns status code 304 if the master client on the
            origin server matches the ETag value.
          required: false
          schema:
            type: string
          example: 30b0b391
      responses:
        '200':
          description: A specific master client has been returned.
          headers:
            ETag:
              description: >-
                An opaque value assigned by the origin server that can be used
                to determine whether two representations of a master client are
                the same. All subresources will be included in the calculation
                of the ETag value regardless of them being embedded in the
                master client or not.

                If a request includes the ETag value in the `If-None-Match`
                header the status 304 is returned if the master client has the
                same ETag value.
              style: simple
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MasterClientFull'
        '304':
          description: >-
            The requested master client has not been modified. The provided ETag
            matches the master client on the origin server.
        '400':
          description: >-
            A client error has occurred. Further information is contained in the
            response message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: >-
            Retrieval of the specified master client is not allowed. This can be
            caused by missing security scopes or missing user permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: The specified master client was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: >-
            Unexpected server error occurred. Further retries may not yield
            different results and should be avoided. Should the problem persist,
            please contact support.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '502':
          description: A problem in a backing service occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
        - datev_openid:
            - datev:master-data:master-clients:read
          client_id: []
          client_secret: []
        - datev_openid_sandbox:
            - datev:master-data:master-clients:read
          client_id: []
          client_secret: []
        - client_secret: []
          client_id: []
        - datev_openid:
            - datev:master-data:master-clients:read
          client_id: []
        - datev_openid_sandbox:
            - datev:master-data:master-clients:read
          client_id: []
    head:
      tags:
        - master-clients
      summary: Retrieve meta data for a specific master client.
      description: >-
        Returns meta data in form of headers for a specific master client which
        the user has access to.
      operationId: peekByZmoId
      parameters:
        - name: master-client-id
          in: path
          description: ID that identifies the master client.
          required: true
          schema:
            type: string
            format: uuid
          example: 76ace1ef-0c0a-446d-a35f-c8909e59708e
        - name: business-partner-id
          in: query
          description: >-
            If given only master clients belonging to the referenced business
            partner will be returned.
          required: false
          schema:
            minimum: 1
            type: integer
            format: int32
          example: 489345
        - name: expand
          in: query
          description: >-
            If 'true' is given, the full master client will be returned. If
            'false' is given, only some basic fields will be returned.
          required: false
          schema:
            type: string
        - name: if-none-match
          in: header
          description: >-
            When provided returns status code 304 if the master client on the
            origin server matches the ETag value.
          required: false
          schema:
            type: string
          example: 30b0b391
      responses:
        '200':
          description: Meta data for a specific master client has been returned.
          headers:
            ETag:
              description: >-
                An opaque value assigned by the origin server that can be used
                to determine whether two representations of a master client are
                the same. All subresources will be included in the calculation
                of the ETag value regardless of them being embedded in the
                master client or not.

                If a request includes the ETag value in the `If-None-Match`
                header the status 304 is returned if the master client has the
                same ETag value.
              style: simple
              schema:
                type: string
        '304':
          description: >-
            The requested master client has not been modified. The provided ETag
            matches the master client on the origin server.
        '400':
          description: >-
            A client error has occurred. Further information is contained in the
            response message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: >-
            Retrieval of the specified master client is not allowed. This can be
            caused by missing security scopes or missing user permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: The specified master client was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: >-
            Unexpected server error occurred. Further retries may not yield
            different results and should be avoided. Should the problem persist,
            please contact support.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '502':
          description: A problem in a backing service occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
        - datev_openid:
            - datev:master-data:master-clients:read
          client_id: []
          client_secret: []
        - datev_openid_sandbox:
            - datev:master-data:master-clients:read
          client_id: []
          client_secret: []
        - datev_openid:
            - datev:master-data:master-clients:read
          client_id: []
        - datev_openid_sandbox:
            - datev:master-data:master-clients:read
          client_id: []
  /master-clients/{master-client-id}/consultant-client:
    get:
      tags:
        - master-clients
      summary: Retrieve the consultant client for a specific master client.
      description: >-
        Returns the consultant client for a specific master client. The user
        must have access to the master client as well as the consultant client.
        The consultant client is retrieved by resolving the assigned
        establishment of the master client. If a consultant client is assigned
        to the establishment, the consultant client is returned. Otherwise, the
        consultant client of the organization containing the establishment is
        returned, or, if neither is present, nothing is returned.
      operationId: findConsultantClientByClientZmoId
      parameters:
        - name: master-client-id
          in: path
          description: ID that identifies the master client.
          required: true
          schema:
            type: string
            format: uuid
          example: 202ea21a-5595-44d1-b270-6bce507e80d8
        - name: expand
          in: query
          description: >-
            If 'true' is given, the full consultant client will be returned. If
            'false' is given, only some basic fields will be returned.
          required: false
          schema:
            type: string
        - name: if-none-match
          in: header
          description: >-
            When provided returns status code 304 if the consultant client on
            the origin server matches the ETag value.
          required: false
          schema:
            type: string
          example: 30b0b391
      responses:
        '200':
          description: Consultant client for a specific master client has been returned.
          headers:
            ETag:
              description: >-
                An opaque value assigned by the origin server that can be used
                to determine whether two representations of a consultant client
                are the same. All subresources will be included in the
                calculation of the ETag value regardless of them being embedded
                in the consultant client or not.

                If a request includes the ETag value in the `If-None-Match`
                header the status 304 is returned if the consultant client has
                the same ETag value.
              style: simple
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MasterClientFull'
        '304':
          description: >-
            The requested consultant client has not been modified. The provided
            ETag matches the consultant client on the origin server.
        '400':
          description: >-
            A client error has occurred. Further information is contained in the
            response message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: >-
            Retrieval of the specified master client or consultant client is not
            allowed. This can be caused by missing security scopes or missing
            user permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: >-
            The specified master client was not found or does not have a
            consultant client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: >-
            Unexpected server error occurred. Further retries may not yield
            different results and should be avoided. Should the problem persist,
            please contact support.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '502':
          description: A problem in a backing service occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
        - datev_openid:
            - datev:master-data:master-clients:read
          client_id: []
          client_secret: []
        - datev_openid_sandbox:
            - datev:master-data:master-clients:read
          client_id: []
          client_secret: []
        - datev_openid:
            - datev:master-data:master-clients:read
          client_id: []
        - datev_openid_sandbox:
            - datev:master-data:master-clients:read
          client_id: []
    head:
      tags:
        - master-clients
      summary: >-
        Retrieve meta data for the consultant client of a specific master
        client.
      description: >-
        Returns meta data in form of headers for the consultant client of a
        specific master client which the user has access to.
      operationId: peekConsultantClientByClientZmoId
      parameters:
        - name: master-client-id
          in: path
          description: ID that identifies the master client.
          required: true
          schema:
            type: string
            format: uuid
          example: 202ea21a-5595-44d1-b270-6bce507e80d8
        - name: expand
          in: query
          description: >-
            If 'true' is given, the full consultant client will be returned. If
            'false' is given, only some basic fields will be returned.
          required: false
          schema:
            type: string
        - name: if-none-match
          in: header
          description: >-
            When provided returns status code 304 if the consultant client on
            the origin server matches the ETag value.
          required: false
          schema:
            type: string
          example: 30b0b391
      responses:
        '200':
          description: >-
            Meta data for the consultant client of a specific master client has
            been returned.
          headers:
            ETag:
              description: >-
                An opaque value assigned by the origin server that can be used
                to determine whether two representations of a consultant client
                are the same. All subresources will be included in the
                calculation of the ETag value regardless of them being embedded
                in the consultant client or not.

                If a request includes the ETag value in the `If-None-Match`
                header the status 304 is returned if the consultant client has
                the same ETag value.
              style: simple
              schema:
                type: string
        '304':
          description: >-
            The requested consultant client has not been modified. The provided
            ETag matches the consultant client on the origin server.
        '400':
          description: >-
            A client error has occurred. Further information is contained in the
            response message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: >-
            Retrieval of the specified consultant client is not allowed. This
            can be caused by missing security scopes or missing user
            permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: >-
            The specified master client was not found or does not have a
            consultant client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: >-
            Unexpected server error occurred. Further retries may not yield
            different results and should be avoided. Should the problem persist,
            please contact support.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '502':
          description: A problem in a backing service occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
        - datev_openid:
            - datev:master-data:master-clients:read
          client_id: []
          client_secret: []
        - datev_openid_sandbox:
            - datev:master-data:master-clients:read
          client_id: []
          client_secret: []
        - datev_openid:
            - datev:master-data:master-clients:read
          client_id: []
        - datev_openid_sandbox:
            - datev:master-data:master-clients:read
          client_id: []
  /org-info:
    get:
      tags:
        - org-info
      summary: Returns business partner information.
      description: >-
        Returns information about the business partners the current user has
        access to and their data environments.
      operationId: getInfo
      responses:
        '200':
          description: The business partners for the current user have been returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrgInfo'
        '500':
          description: >-
            Unexpected server error occurred. Further retries may not yield
            different results and should be avoided. Should the problem persist,
            please contact support.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '502':
          description: A problem in a backing service occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
        - datev_openid:
            - datev:master-data:org-info:read
          client_id: []
          client_secret: []
        - datev_openid_sandbox:
            - datev:master-data:org-info:read
          client_id: []
          client_secret: []
        - datev_openid:
            - datev:master-data:org-info:read
          client_id: []
        - datev_openid_sandbox:
            - datev:master-data:org-info:read
          client_id: []
  /master-clients:
    get:
      tags:
        - master-clients
      summary: Returns a list of master clients.
      description: Returns a list of all master clients that can be accessed by the user.
      operationId: findAll
      parameters:
        - name: business-partner-id
          in: query
          description: >-
            If given only master clients belonging to the referenced business
            partner will be returned.
          required: false
          schema:
            minimum: 1
            type: integer
            format: int32
          example: 489345
        - name: data-environment-number
          in: query
          description: >-
            If given only master clients belonging to the referenced data
            environment will be returned.
          required: false
          schema:
            maximum: 999999
            minimum: 100000
            type: integer
            format: int32
          example: 385536
        - name: expand
          in: query
          description: >-
            If 'true' is given, the full master client will be returned. If
            'false' is given, only some basic fields will be returned.
          required: false
          schema:
            type: string
        - name: search-term
          in: query
          description: >-
            Arbitrary term that is used to search for specific master clients.
            All master clients whose "name" or "number" attributes match (case
            insensitive) the provided term are returned in the result.
          required: false
          schema:
            type: string
          example: Muster
        - name: status
          in: query
          description: >-
            Parameter that is used to limit the returned items to be either all
            active or inactive master client entities.
          required: false
          schema:
            type: string
            enum:
              - active
              - inactive
          example: active
        - name: skip
          in: query
          description: Number of items to skip when retrieving the list.
          required: false
          schema:
            type: integer
            format: int32
            default: 0
          example: 10
        - name: top
          in: query
          description: >-
            Maximum number of items to return when querying the list. If no
            value or a value greater than 100 is entered, only 100 entries will
            be returned.
          required: false
          schema:
            type: integer
            format: int32
            default: 100
          example: 10
        - name: orderby
          in: query
          description: >-
            Parameter that is used to specify the sort order of master clients.
            Sorting is currently limited to either "name" or "number". The sort
            order can be specified using the suffix +asc or +desc.
          required: false
          schema:
            type: string
            enum:
              - name
              - name+asc
              - name+desc
              - number
              - number+asc
              - number+desc
          example: number+asc
        - name: is-consultant-client
          in: query
          description: >-
            Parameter that is used to filter and return consultant clients only.
            Filtering is currently limited to "of-active-corporate-structure",
            which includes only consultant clients of active organizations and
            active establishments. When using this parameter, the
            "data-environment-number" parameter must also be set, whereas any
            other filter parameter must not be set.
          required: false
          schema:
            type: string
            enum:
              - of-active-corporate-structure
          example: of-active-corporate-structure
      responses:
        '200':
          description: List of accessible master clients has been returned.
          headers:
            Total-Count:
              description: Total count of master clients available
              style: simple
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MasterClientFull'
        '400':
          description: >-
            A client error has occurred. Further information is contained in the
            response message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: >
            Retrieval of master clients is not allowed. This can be caused by
            missing security scopes or missing user permissions.

            | Reason code | Description or cause |

            | ----------- | -------------------- |

            | `NO_USER_PERMISSIONS` |   The user has no permissions to access
            any master clients. |

            | `NO_APP_GRANTS` |  The requesting app was not granted access to
            any master client. |
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: >
            The user does not have any data environments and therefore cannot
            retrieve any master clients.

            | Reason code | Description or cause |

            | ----------- | -------------------- |

            | `NO_DATA_ENVIRONMENTS` |  The user has no data environments. |
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: >-
            Unexpected server error occurred. Further retries may not yield
            different results and should be avoided. Should the problem persist,
            please contact support.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '502':
          description: A problem in a backing service occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
        - datev_openid:
            - datev:master-data:master-clients:read
          client_id: []
          client_secret: []
        - datev_openid_sandbox:
            - datev:master-data:master-clients:read
          client_id: []
          client_secret: []
        - datev_openid:
            - datev:master-data:master-clients:read
          client_id: []
        - datev_openid_sandbox:
            - datev:master-data:master-clients:read
          client_id: []
  /master-clients/{master-client-id}/corporate-structure:
    get:
      tags:
        - master-clients
      summary: Retrieve a corporate structure for a specific master client.
      description: >-
        Returns a corporate structure for a specific master client which the
        user has access to.
      operationId: findCorporateStructureByZmoId
      parameters:
        - name: master-client-id
          in: path
          description: ID that identifies the master client.
          required: true
          schema:
            type: string
            format: uuid
          example: 76ace1ef-0c0a-446d-a35f-c8909e59708e
      responses:
        '200':
          description: Corporate structure for a specific master client has been returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporateStructure'
        '400':
          description: >-
            A client error has occurred. Further information is contained in the
            response message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: >-
            Retrieval of the corporate structure for the specified master client
            is not allowed. This can be caused by missing security scopes or
            missing user permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: >-
            The specified master client was not found or does not have a
            corporate structure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: >-
            Unexpected server error occurred. Further retries may not yield
            different results and should be avoided. Should the problem persist,
            please contact support.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '502':
          description: A problem in a backing service occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
        - datev_openid:
            - datev:master-data:org-info:read
          client_id: []
          client_secret: []
        - datev_openid_sandbox:
            - datev:master-data:org-info:read
          client_id: []
          client_secret: []
        - datev_openid:
            - datev:master-data:org-info:read
          client_id: []
        - datev_openid_sandbox:
            - datev:master-data:org-info:read
          client_id: []
  /legal-forms:
    get:
      tags:
        - master-clients
      summary: Returns a list of all available legal forms.
      description: >-
        Returns a list of all available legal forms which may be referenced by
        legal persons.
      operationId: getLegalForms
      responses:
        '200':
          description: List of all available legal forms has been returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MasterClient.LegalForm'
  /data-environments/{number}:
    get:
      tags:
        - org-info
      summary: Returns a data environment.
      description: Returns a specific data environment which the user has access to.
      operationId: findByNumber
      parameters:
        - name: number
          in: path
          description: The number of the data environment that should be returned.
          required: true
          schema:
            maximum: 999999
            minimum: 100000
            type: integer
            format: int32
          example: 729830
        - name: expand
          in: query
          description: >-
            Controls if subresources will be embedded. The subresource that can
            be expanded are organizations. By default, they will not be embedded
            in the data environment entity. Valid values for the expand
            parameter are none (this is the default), organizations and * (which
            will also expand organizations).

            Embedding organizations currently requires a user with higher
            privileges (administration rights).
          required: false
          schema:
            type: string
            enum:
              - none
              - organizations
              - '*'
      responses:
        '200':
          description: Requested data environment has been returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataEnvironment'
        '400':
          description: >-
            A client error has occurred. Further information is contained in the
            response message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: >
            Retrieval of the specified data environment is not allowed. This can
            be caused by missing security scopes or missing user permissions.

            | Reason code | Description or cause |

            | ----------- | -------------------- |

            | `NO_USER_PERMISSIONS` |  The user has no permissions to access the
            requested data environment. |
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: The requested data environment does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: >-
            Unexpected server error occurred. Further retries may not yield
            different results and should be avoided. Should the problem persist,
            please contact support.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '502':
          description: A problem in a backing service occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
        - datev_openid:
            - datev:master-data:org-info:read
          client_id: []
          client_secret: []
        - datev_openid_sandbox:
            - datev:master-data:org-info:read
          client_id: []
          client_secret: []
        - client_secret: []
          client_id: []
        - datev_openid:
            - datev:master-data:org-info:read
          client_id: []
        - datev_openid_sandbox:
            - datev:master-data:org-info:read
          client_id: []
  /country-codes:
    get:
      tags:
        - master-clients
      summary: Returns a list of all available country codes.
      description: >-
        Returns a list of all available country codes which may be referenced by
        addresses.
      operationId: getCountryCodes
      responses:
        '200':
          description: List of all available country codes has been returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MasterClient.CountryCode'
components:
  schemas:
    App.Update:
      type: object
      properties:
        brick_contexts:
          type: array
          description: >-
            Listing of context and bricks which define the schema of the
            returned master clients.
          items:
            $ref: '#/components/schemas/BrickContext'
      description: Data to set for the API Consumer.
    BrickContext:
      required:
        - key
      type: object
      properties:
        key:
          type: string
          description: >
            Key that identifies the context.<br>The following keys are possible:

            | key | name (german) | possible bricks |

            | --- | ------------- | --------------- |

            | `Client` | Mandant | `ClientData`, `Gwg`, `InvoiceRecipient`,
            `CorrespondenceRecipient`, `AccountHolderForBilling` |

            | `ClientLegalPerson` | Mandatsadressat Unternehmen | all bricks for
            legal person contexts |

            | `ClientNaturalPerson` | Mandatsadressat Natürliche Person | all
            bricks for natural person contexts |

            | `ClientMarriage` | Ehekontakt des Mandanten | all bricks for
            marriage contexts |

            | `Spouse` | Ehe-/Lebenspartner | all bricks for natural person
            contexts |

            | `Child` | Kind einer natürlichen Person | all bricks for natural
            person contexts |

            | `LegalRepresentativeOfNaturalPerson#natural_person` | Natürliche
            Person des gesetzlichen Vertreters einer natürlichen Person | all
            bricks for natural person contexts |

            | `LegalRepresentativeOfNaturalPerson#legal_person` | Unternehmen
            des gesetzlichen Vertreters einer natürlichen Person | all bricks
            for legal person contexts |

            | `UltimateBeneficialOwnerOfNaturalPerson` | Natürliche Person des
            wirtschaftlich Berechtigten einer natürlichen Person | all bricks
            for natural person contexts |

            | `ContactPersonOfNaturalPerson` | Natürliche Person des
            Ansprechpartner einer natürlichen Person | all bricks for natural
            person contexts |

            | `LegalRepresentativeOfCompany#natural_person` | Natürliche Person
            des gesetzlichen Vertreters eines Unternehmens | all bricks for
            natural person contexts |

            | `LegalRepresentativeOfCompany#legal_person` | Unternehmen des
            gesetzlichen Vertreters eines Unternehmens | all bricks for legal
            person contexts |

            | `UltimateBeneficialOwnerOfCompany` | Natürliche Person des
            wirtschaftlich Berechtigten eines Unternehmens | all bricks for
            natural person contexts |

            | `ContactPersonOfCompany` | Natürliche Person des Ansprechpartner
            eines Unternehmens | all bricks for natural person contexts |

            | `Proprietor` | Natürliche Person des Betriebsinhabers | all bricks
            for natural person contexts | 

            | `AccountHolderForBillingAddressee#natural_person` | Natürliche
            Person des Kontoinhaber für Rechnungsschreibung | all bricks for
            natural person contexts |

            | `AccountHolderForBillingAddressee#legal_person` | Unternehmen des
            Kontoinhaber für Rechnungsschreibung | all bricks for legal person
            contexts |

            | `AccountHolderForBillingMarriage` | Ehekontakt des Kontoinhaber
            für Rechnungsschreibung | all bricks for marriage contexts |

            | `CorrespondenceRecipientAddressee#natural_person` | Natürliche
            Person des Empfängers für Mandantenkorrespondenz | all bricks for
            natural person contexts |

            | `CorrespondenceRecipientAddressee#legal_person` | Unternehmen des
            Empfängers für Mandantenkorrespondenz | all bricks for legal person
            contexts |

            | `CorrespondenceRecipientMarriage` | Ehekontakt des Empfängers für
            Mandantenkorrespondenz | all bricks for marriage contexts |

            | `InvoiceRecipientAddressee#natural_person` | Natürliche Person des
            Rechnungsempfänger | all bricks for natural person contexts |

            | `InvoiceRecipientAddressee#legal_person` | Unternehmen des
            Rechnungsempfänger | all bricks for legal person contexts |

            | `InvoiceRecipientMarriage` | Ehekontakt des Rechnungsempfänger |
            all bricks for marriage contexts |
          example: Client
        bricks:
          type: array
          description: >
            The keys of the bricks which should be applied for this
            context.<br>The following keys for bricks are possible:

            | key | name (german) | possible contexts |

            | --- | ------------- | ----------------- |

            | `ClientData` | Mandantendaten | `Client` context |

            | `Gwg` | Daten zum Geldwäschegesetz | `Client` context |

            | `InvoiceRecipient` | Rechnungsempfänger | `Client` context |

            | `CorrespondenceRecipient` | Empfänger für Mandantenkorrespondenz |
            `Client` context |

            | `AccountHolderForBilling` | Kontoinhaber für Rechnungsschreibung |
            `Client` context |

            | `AddressOfAddressee` | Adresse | all natural person and legal
            person contexts |

            | `CommunicationOfAddressee` | Kommunikation | all natural person
            and legal person contexts |

            | `BankAccountOfAddressee` | Bank | all natural person and legal
            person contexts |

            | `TaxOffice` | Finanzamt | all natural person and legal person
            contexts |

            | `ContactPerson` | Ansprechpartner | all natural person and legal
            person contexts |

            | `UltimateBeneficialOwner` | Wirtschaftlich Berechtigter | all
            natural person and legal person contexts |

            | `NaturalPersonBasic` | Basisdaten zur natürlichen Person | all
            natural person contexts |

            | `NaturalPersonExtended` | Sonstige persönliche Daten der
            natürlichen Person | all natural person contexts |

            | `NaturalPersonLegitimation` | Legitimationsdaten der natürlichen
            Person | all natural person contexts |

            | `NaturalPersonTaxInfo` | Steueridentifikationsdaten der
            natürlichen Person | all natural person contexts |

            | `Child` | Basisdaten zum Kind | all natural person contexts |

            | `LegalRepresentativeOfNaturalPerson` | Gesetzlicher Vertreter der
            Person | all natural person contexts |

            | `LegalPerson` | Unternehmensdaten | all legal person contexts |

            | `Proprietor` | Betriebsinhaber | all legal person contexts |

            | `LegalRepresentativeOfCompany` | Gesetzlicher Vertreter des
            Unternehmens | all legal person contexts |

            | `Marriage` | Gemeinsame Kontaktdaten des Ehepaars |
            `ClientMarriage`, `AccountHolderForBillingMarriage`,
            `CorrespondenceRecipientMarriage`, `InvoiceRecipientMarriage` |

            | `AddressOfMarriage` | Gemeinsame Adressen des Ehepaars |
            `ClientMarriage`, `AccountHolderForBillingMarriage`,
            `CorrespondenceRecipientMarriage`, `InvoiceRecipientMarriage` |

            | `CommunicationOfMarriage` | Gemeinsame Kommunikationsverbindungen
            des Ehepaars | `ClientMarriage`, `AccountHolderForBillingMarriage`,
            `CorrespondenceRecipientMarriage`, `InvoiceRecipientMarriage` |

            | `BankAccountOfMarriage` | Gemeinsame Bankkonten des Ehepaars |
            `ClientMarriage`, `AccountHolderForBillingMarriage`,
            `CorrespondenceRecipientMarriage`, `InvoiceRecipientMarriage` |
          items:
            type: string
      description: Context on which the contained bricks should be applied.
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          description: >-
            A URI reference that identifies the problem type. When dereferenced,
            it provides a human-readable documentation for the problem type.
            When this property is not present, its value is assumed to be
            "about:blank".
        title:
          type: string
          description: A short, human-readable summary of the problem type.
        request_id:
          type: string
          description: Unique ID of the request.
          format: uuid
        reason:
          type: string
          description: >-
            A machine readable reason to distinguish between problem types, may
            be empty.
          enum:
            - VALIDATION_FAILED
            - NO_DATA_ENVIRONMENTS
            - NO_USER_PERMISSIONS
            - NO_APP_GRANTS
            - DATA_ENVIRONMENT_NOT_FOUND
            - MASTER_CLIENT_NUMBER_INVALID
            - MASTER_CLIENT_NUMBER_UNUSABLE
            - MASTER_CLIENT_ID_ALREADY_ASSIGNED
            - UNKNOWN_CLIENT_ID
        status:
          type: integer
          description: >-
            The HTTP status code generated by the origin server for this
            occurrence of the problem.
          format: int32
        detail:
          type: string
          description: >-
            A human-readable explanation specific to this occurrence of the
            problem. Only filled in case of errors from the API-Gateway.
        details:
          type: array
          description: >-
            Additional details in case of validation failures (when reason is
            set to `VALIDATION_FAILED`).
          items:
            $ref: '#/components/schemas/ProblemDetails.ViolationDetails'
      additionalProperties: true
    ProblemDetails.AdditionalInfo:
      type: object
      properties:
        key:
          type: string
        value:
          type: object
      description: Additional information for the given violation type.
    ProblemDetails.ViolationDetails:
      type: object
      properties:
        description:
          type: string
          description: A description for the violation.
        affected_field:
          type: string
          description: The affected field in form of a JSON path.
        type:
          type: string
          description: >
            The violation type. The following violation types are possible:

            | Violation type | Description or cause |

            | ----------- | -------------------- |

            | MISSING_PROPERTY |  A required property is missing. |

            | INVALID_PROPERTY |  A property is invalid in the context that it's
            used in. |

            | INVALID_ENUMERATION |  A property contains a value that is not one
            of the allowed enumeration values. |

            | OUT_OF_RANGE |  An integer is out of the allowed range (either too
            small or large). |

            | INVALID_LENGTH |  A string has an invalid length (either too small
            or large). |

            | INVALID_PATTERN |  A string does not conform the the required
            pattern (regular expression). |
        additional_info:
          type: array
          description: Additional information for the given violation type.
          items:
            $ref: '#/components/schemas/ProblemDetails.AdditionalInfo'
      description: >-
        Additional details in case of validation failures (when reason is set to
        `VALIDATION_FAILED`).
    IdAndEtag:
      required:
        - id
      type: object
      properties:
        id:
          type: string
          description: >-
            Master Client ID (stable technical identifier, also referred to as
            "ZMOID", short for "Zentraler Mandant Online Identifier"). This is
            the value to be used as the master client ID parameter when
            accessing a single master client through this API.
          format: uuid
          example: 76ace1ef-0c0a-446d-a35f-c8909e59708e
        etag:
          type: string
          description: >-
            An opaque value assigned by the origin server that can be used to
            determine whether two representations of a master client are the
            same.
          example: 30b0b391
      description: >-
        A tuple of Master Client ID together with an ETag value of the
        corresponding Master Client.
    Search:
      type: object
      properties:
        ids:
          maxItems: 100
          minItems: 0
          type: array
          description: >-
            A list of Master Client IDs (also referred to as "ZMOID") to search
            for. With this parameter, it is possible to selectively request the
            data of clients. Maximum length is 100.
          example:
            - 76ace1ef-0c0a-446d-a35f-c8909e59708e
            - 6765b277-34ea-42ec-85e9-17f6cf4d7744
            - 7fed28dc-1b0b-4424-91ba-ea97aeb5efdf
          items:
            type: string
            format: uuid
        ids_and_updated:
          maxItems: 100
          minItems: 0
          type: array
          description: >-
            A list of Master Client IDs (also referred to as "ZMOID") and
            corresponding ETag values to search for. Only Master Clients with
            differing ETag will be returned. With this parameter, it is possible
            to selectively request the data of clients that have changed.
            Maximum length is 100.
          items:
            $ref: '#/components/schemas/IdAndEtag'
      description: The extended search parameters.
    MasterClientFull:
      required:
        - data_environment_number
        - id
      type: object
      properties:
        id:
          type: string
          description: >-
            Master Client ID (stable technical identifier, also referred to as
            "ZMOID", short for "Zentraler Mandant Online Identifier"). This is
            the value to be used as the master client ID parameter when
            accessing a single master client through this API.
          format: uuid
          example: 76ace1ef-0c0a-446d-a35f-c8909e59708e
        data_environment_number:
          maximum: 999999
          minimum: 100000
          type: integer
          description: >-
            (Datenumgebungsnummer) The number of the data environment to which
            the master client belongs. The data environment number is a stable,
            unique identifier for the data environment.
          format: int32
          example: 876870
        revision:
          type: string
          description: >-
            A number indicating the revision of the master client. For internal
            use.
          example: '1'
        etag:
          type: string
          description: >-
            An opaque value assigned by the origin server that can be used to
            determine whether two representations of a master client are the
            same. All subresources will be included in the calculation of the
            ETag value regardless of them being embedded in the master client or
            not.
          example: 30b0b391
        container:
          $ref: '#/components/schemas/MasterClientFull.Container'
      description: >-
        The master client entity is most commonly used to represent clients
        (customers) of DATEV members, but its use is not restricted to that
        business role.


        Each master client entity is contained in exactly one data environment.
        Each data environment is owned and controlled by exactly one
        organization (such as a tax consultant or a lawyer that is a DATEV
        member).
    MasterClientFull.AccountHolderForBilling:
      type: object
      properties:
        id:
          type: string
          description: 'GUID of a relationship - internal identifier. '
          format: uuid
        display_name:
          maxLength: 72
          type: string
          description: Comprise a display name of the referenced addressee.
          example: Mustermeier, Georg
        addressee_id:
          type: string
          description: >-
            GUID of the referenced addressee. Only either addresseeId or
            marriageId is filled.
          format: uuid
        marriage_id:
          type: string
          description: >-
            GUID of the referenced marriage. Only either addresseeId or
            marriageId is filled.
          format: uuid
          example: 84322f6f-77f6-4b91-ac06-c05a6999c41e
        bank_account_for_billing:
          $ref: >-
            #/components/schemas/MasterClientFull.AccountHolderForBilling.BankAccountReference
      description: >-
        (Angaben zum Kontoinhaber für Rechnungsschreibung) Specific data for the
        account holder for billing.
    MasterClientFull.AccountHolderForBilling.BankAccountReference:
      type: object
      properties:
        id:
          type: string
          description: GUID - internal ID of a bank account.
          format: uuid
          example: 31b9d6d9-117b-4555-b0b0-3659eb0279d0
        bic:
          maxLength: 11
          type: string
          description: >-
            (BIC) Unique identifier for a SWIFT-participant (BIC - Bank
            Identifier Code). SWIFT is the abbreviation for "Society for
            Worldwide Interbank Financial Telecommunications".
          example: SSKNDE77XXX
        iban:
          maxLength: 34
          type: string
          description: (IBAN) Identifies a bank account worldwide (ISO 13616).
          example: DE12760501010003225553
      description: (Bankverbindung) Reference to the bank account.
    MasterClientFull.Address:
      required:
        - type
      type: object
      properties:
        id:
          type: string
          description: GUID - internal ID of an address.
          format: uuid
          example: 17b9d6d3-117b-4555-b0b0-3659eb0279d7
        type:
          type: string
          description: (Adressart) The address type.
          example: street
          enum:
            - street
            - post_office_box
            - corporate_client
        city:
          maxLength: 62
          type: string
          description: >-
            (Ort) Indicates the location. The maximum length depends on the
            country in which the address is located (for 'DE' and 'AT' 30
            characters; for 'PL' 41 characters; for any other country or if no
            country has been defined 62 characters are permissible).
          example: Mannheim
        country_code:
          maxLength: 2
          type: string
          description: >-
            (Land) Indicates the country in which the address is located.
            Two-character country code as per ISO 3166. A list of all available
            country codes can be retrieved via `GET /country-codes`.
          example: DE
        postal_code:
          maxLength: 10
          type: string
          description: >-
            (Postleitzahl) Indicates the postal code. The maximum length depends
            on the country in which the address is located ('DE' 5 digits, 'AT'
            4 digits, 'IT' 5 digits, 'CZ' 6 digits, 'PL' 6 digits.  For 'DE' and
            'AT', the maximum and minimum lengths are the same. For any other
            country or if no country has been defined 10 digits are
            permissible).
          example: '68199'
        post_office_box:
          maxLength: 10
          type: string
          description: >-
            (Postfach) The post office box number. For address types other than
            "post_office_box" this attribute is empty.
        street:
          maxLength: 41
          type: string
          description: >-
            (Straße) The street part of the address, including street name,
            number and optional number extensions. For address types other than
            "street" this attribute is empty. The maximum length depends on the
            country in which the address is located (for 'DE' and 'AT' 36
            characters; for any other country or if no country has been defined
            41 characters are permissible).
          example: Wacholderstr. 16 a
        additional_correspondence_title:
          maxLength: 30
          type: string
          description: (Abw. Anrede) Indicates a differing title in correspondence.
          example: Herrn/Frau/Firma
        additional_delivery_text1:
          maxLength: 50
          type: string
          description: >-
            (Abweichender Zustelladdressat) Indicates the first part of the name
            of the differing delivery addressee.
          example: Schreinerei Musterholz
        additional_delivery_text2:
          maxLength: 36
          type: string
          description: >-
            (Abweichender Zustelladdressat) Indicates the second part of the
            name of the differing delivery addressee.
          example: Offene Handelsgesellschaft
        additional_shipping_information:
          maxLength: 50
          type: string
          description: >-
            (Versandzusatz) Indicates additional shipping information in
            correspondence, e.g. private/confidential or a shipment.
          example: Wenn unzustellbar, zurück
        address_appendix:
          maxLength: 36
          type: string
          description: Indicates an address appendix in correspondence, e.g. "c/o".
          example: z. H. Herrn Mustermann
        address_manually_edited:
          maxLength: 255
          type: string
          description: (Manuell geänderte Addresse) Indicates a manually edited address.
        is_address_manually_edited:
          type: boolean
          description: >-
            (Manuell geändert) Indicates whether the address has been manually
            edited.
          example: false
        is_shared:
          type: boolean
          description: (Manuell geändert) Indicates whether the address is shared.
          example: false
        note:
          maxLength: 40
          type: string
          description: (Notiz) Field for notes about the address.
          example: Das ist eine Notiz zur Anschrift
        valid_from:
          type: string
          description: (Gültig von) Indicates the date from which an address is valid.
          format: date
        valid_to:
          type: string
          description: (Gültig bis) Indicates the date until which an address is valid.
          format: date
        currently_valid:
          type: boolean
          description: (Gültig) Indicates whether or not the address is currently valid.
          example: true
        is_correspondence_address:
          type: boolean
          description: >-
            (Korrespondezadresse) Indicates whether this is the correspondence
            address. Among all valid addresses  of an addressee, this property
            must be marked with 'true' exactly once.
          example: true
        is_debitor_address:
          type: boolean
          description: >-
            (Debitoren-Rechnungsadresse) Indicates whether this is the debtor
            address. Among all valid addresses of an addressee, this property
            must be marked with 'true' no more than once.
          example: true
        is_main_post_office_box_address:
          type: boolean
          description: >-
            (Hauptpostfachadresse) Indicates whether this is the main post
            office box address. Only relevant if the address is a post office
            box address (type=post_office_box). Among all valid post office box
            addresses of an addressee, this property must be marked with 'true'
            exactly once.
          example: false
        is_main_street_address:
          type: boolean
          description: >-
            (Hauptstraßenadresse) Indicates whether this is the main street
            address. Only relevant if the address is a street address
            (type=street). Among all valid street addresses of an addressee,
            this property must be marked with 'true' exactly once.
          example: true
        is_management_address:
          type: boolean
          description: >-
            (Geschäftsleitungsadresse) Indicates whether this is the management
            address. Only relevant if the associated addressee is of the type
            'legal_person'. Among all valid addresses of an addressee
            (legal_person), this property must be marked with 'true' exactly
            once.
          example: true
      description: >-
        A postal address. Location part only, not containing the addressee's
        name.
    MasterClientFull.AddressReference:
      type: object
      properties:
        id:
          type: string
          description: GUID of a reference - internal identifier.
          format: uuid
          example: 80f27603-0c9c-4dfd-bf98-6a9bff21c5e0
        address_manually_edited:
          maxLength: 255
          type: string
          description: (Manuell geänderte Addresse) Indicates a manually edited address.
      description: (Adresse) Address specific data.
    MasterClientFull.Addressee:
      required:
        - type
      type: object
      properties:
        id:
          type: string
          description: GUID of an addressee – internal identifier.
          format: uuid
          example: 16b9d6d3-117b-4553-b0b0-3659eb0279d7
        eu_vat_id_country_code:
          maxLength: 2
          type: string
          description: >-
            (UStId-Länderkennzeichen) VAT ID country codes (AT = Österreich, BE
            = Belgien, BG = Bulgarien, CY = Zypern, CZ = Tschechische Republik,
            DE = Deutschland, DK = Dänemark, EE = Estland, EL = Griechenland, ES
            = Spanien, EU = Europäische Union, FI = Finnland, FR = Frankreich,
            GB = Großbritannien, HR = Kroatien, HU = Ungarn, IE = Irland, IT =
            Italien, LT = Litauen, LU = Luxemburg, LV = Lettland, MT = Malta, NL
            = Niederlande, PL = Polen, PT = Portugal, RO = Rumänien, SE =
            Schweden, SI = Slowenien, SK = Slowakei). Both the country code and
            number must be set to form a valid VAT ID.
          example: DE
        eu_vat_id_number:
          maxLength: 13
          type: string
          description: >-
            (UStId ohne Länderkennzeichen) European VAT ID without country code.
            Both the country code and number must be set to form a valid VAT ID.
          example: '812277765'
        economic_identification_number:
          maxLength: 11
          minLength: 11
          pattern: ^((DE)[0-9]{9})$
          type: string
          description: >-
            (W-IdNr.) Originally, the economic identification number was
            intended as a uniform and permanent identification feature in
            accordance with Section 139a Paragraph 1 AO for the purpose of clear
            identification in the taxation process. In addition, the business
            identification number will also serve as a nationwide business
            number for companies in accordance with Section 2 Paragraph 1 UBRegG
            (Corporate Basic Data Register Act). The economic identification
            number for the purpose of taxation procedures is described in more
            detail in Section 139c AO and is issued to economically active
            persons.
          example: DE812277765
        economic_identification_number_differentiator:
          maxLength: 5
          minLength: 5
          type: string
          description: >-
            (W-IdNr. Unterscheidungsmerkmal) For each economically active
            person, the economic identification number is supplemented by a
            five-digit distinguishing feature for each of their economic
            activities, each of their businesses and for each of their permanent
            establishments, so that the activities, businesses and permanent
            establishments of the economically active person can be clearly
            identified in taxation procedures. The Federal Central Tax Office
            assigns the distinctive feature 00001 to the first economic activity
            of the economically active person, their first business or their
            first permanent establishment. At the request of the responsible tax
            authority, the Federal Central Tax Office continually assigns each
            additional economic activity, each additional business and each
            additional permanent establishment of the economically active person
            its own distinguishing feature..
          example: '00001'
        current_short_name:
          maxLength: 15
          type: string
          description: >-
            (Name kurz) Current short name of the addressee (= value as at
            system date).
          example: Muster
        short_names:
          type: array
          example:
            - value: Muster
              valid_from: '2020-12-20'
            - value: Muster
              valid_from: '2020-12-20'
            - value: Muster
              valid_from: '2020-12-20'
          items:
            $ref: '#/components/schemas/MasterClientFull.HistoricalValueString'
        status:
          type: string
          description: '(Status) Indicates whether the addressee is active or inactive. '
          example: active
          enum:
            - active
            - inactive
        surrogate_name:
          maxLength: 50
          type: string
          description: (Alternativer Suchname) Alias of an addressee for search purposes.
          example: Meier
        timestamp:
          type: string
          description: (Zeitstempel) Indicates when the addressee was last edited.
          format: date-time
        type:
          type: string
          description: >-
            (Adressattyp) Indicates whether the addressee is a person or an
            enterprise.
          example: legal_person
          enum:
            - natural_person
            - legal_person
        current_company_name:
          maxLength: 60
          minLength: 1
          type: string
          description: (Unternehmensname) The company name. (= value as at system date)
          example: Schreinerei Mustermann
        company_names:
          type: array
          example:
            - value: Schreinerei Mustermann
              valid_from: '2020-12-20'
            - value: Schreinerei Mustermann
              valid_from: '2020-12-20'
            - value: Schreinerei Mustermann
              valid_from: '2020-12-20'
          items:
            $ref: '#/components/schemas/MasterClientFull.HistoricalValueString'
        date_of_foundation:
          type: string
          description: >-
            (Gründungsdatum) Date on which an operational commercial enterprise
            is established (date of foundation).
          format: date
        current_legal_form_id:
          maxLength: 6
          minLength: 6
          type: string
          description: >-
            (Rechtsform) Current legal form of the enterprise (= value as at
            system date). The following values are permissible
            (S01101=Aktiebolag, S00010=Aktiengesellschaft,
            S00110=Aktiengesellschaft, S00112=AG & Co. KG, S00019=AG & Co. KG,
            S00049=Aktiengesellschaft & Co. OHG, S00130=AG & Still,
            S01502=Anstalt d. priv. Rechts, S00031=Anstalt des öffentlichen
            Rechts, S00109=Arbeitsgemeinschaft, S00122=Atypische Stille
            Gesellschaft, S00061=Atypische Stille Gesellschaft, S00059=Behörde,
            Amt, S00013=Bergrechtliche Gewerkschaft,
            S00051=Bruchteilsgemeinschaft, S00012=Eingetragene Genossenschaft,
            S00015=Eingetragener Verein, S00001=Einzelkaufmann,
            S00101=Einzelunternehmer, S00026=Erbengemeinschaft,
            S00035=Europäische wirtschaftliche Interessenvereinigung,
            S00002=Freier Beruf, S00102=Freier Beruf, S00006=Gesellschaft des
            bürgerlichen Rechts, S00025=Gemeinschaft, S00113=Genossenschaft
            beschränkte Haftung, S00114=Genossenschaft unbeschränkte Haftung,
            S00107=Gesellschaft bürgerlichen Rechts, S00036=Gewerkschaft,
            S00054=gemeinnützige GmbH, S00009=Gesellschaft mit beschränkter
            Haftung, S00105=Gesellschaft mit beschränkter Haftung, S00115=GmbH &
            Co. KG, S00007=GmbH & Co. KG, S00052=GmbH & Co. KGaA, S00048=GmbH &
            Co. OHG, S00129=GmbH & Still, S00053=GmbH i.G., S00057=GmbH I.L.,
            S00050=Grundstücksgemeinschaft, S00121=Grundstücksgemeinschaft,
            S01402=Inc., S00062=Investmentkommanditgesellschaft,
            S00063=gemeinnützige Unternehmergesellschaft (haftungsbeschränkt),
            S00064=Stiftung & Co. KG, S00065=eingetragene Gesellschaft
            bürgerlichen Rechts, S00056=Jur. Person kirchl. Rechts,
            S00022=Körperschaft des öffentlichen Rechts,
            S00005=Kommanditgesellschaft, S00111=Kommanditgesellschaft,
            S00011=Kommanditgesellschaft auf Aktien, S00017=Kleingewerbe,
            S00104=Kleingewerbe, S00020=Komplementär GmbH, S00126=Körperschaft
            des öffentlichen Rechts, S01701=Sociedade Limitada , S00024=Limited,
            S01401=Limited Liability Company , S01403=Limited Liability
            Partnership , S00802=limited partnership, S00804=private company
            limited by shares, S00037=Limited & Co. KG, S00003=Land- und
            Forstwirtschaftliches Einzelunternehmen, S00103=Land- und
            Forstwirtschaftliches Einzelunternehmen, S00123=Miteigentümerschaft,
            S00029=Nicht eingetragener Verein, S00106=Offene Gesellschaft,
            S00004=Offene Handelsgesellschaft, S00038=OHG & Co. KG,
            S01201=Osakeyhtiö, S00018=Partnerschaftsgesellschaft,
            S00060=Partnerschaftsgesellschaft mit beschränkter Berufshaftung,
            S00803=public company limited by shares, S00039=Politische Partei,
            S00118=Privatstiftung, S00040=Reederei, S01601=Sociedad Anónima,
            S01702=Sociedade Anónima, S01603=Sociedad Limitada, S01602=Sociedad
            de Responsabilidad Limitada, S01301=Společnost s ručením omezeným ,
            S00034=Europäische Genossenschaft (mit Vorstand/Aufsichtsrat),
            S00033=Europäische Genossenschaft (mit Verwaltungsrat),
            S00021=Europäische Aktiengesellschaft (mit Vorstand/Aufsichtsrat),
            S00032=Europäische Aktiengesellschaft (mit Verwaltungsrat),
            S00041=Seerechtliche Gesellschaft, S00014=Sonstige, S00027=Sonstige
            & Co. KG, S00028=Sonstige & Co. OHG, S00023=Sonstige juristische
            Person des privaten Rechts, S00030=Sonstige Kapitalgesellschaft,
            S00008=Sonstige Personengesellschaft, S00047=Sonstiges
            Einzelunternehmen, S00124=Sparkasse, S00117=Stiftung altes Recht,
            S00042=Stiftung des öffentlichen Rechts, S00016=Stiftung des
            Privatrechts, S00128=Stille Gesellschaft, S01501=Treuunternehmen
            reg., S00055=Unternehmerges. (haftungsbeschr.)& Co KG,
            S00046=Unternehmergesellschaft (haftungsbeschränkt), S00043=Verband,
            S00116=Verein, S00058=Versicherungsverein auf Aktien,
            S00044=Versicherungsverein auf Gegenseitigkeit,
            S00045=Wohnungseigentümergemeinschaft).


            The property may only be filled if the addressee is of the type
            'legal_person'.
          example: S00009
          enum:
            - S01101
            - S00010
            - S00110
            - S00112
            - S00019
            - S00049
            - S00130
            - S01502
            - S00031
            - S00109
            - S00122
            - S00061
            - S00059
            - S00013
            - S00051
            - S00012
            - S00015
            - S00001
            - S00101
            - S00026
            - S00035
            - S00002
            - S00102
            - S00006
            - S00025
            - S00113
            - S00114
            - S00107
            - S00036
            - S00054
            - S00009
            - S00105
            - S00115
            - S00007
            - S00052
            - S00048
            - S00129
            - S00053
            - S00057
            - S00050
            - S00121
            - S01402
            - S00062
            - S00063
            - S00064
            - S00065
            - S00056
            - S00022
            - S00005
            - S00111
            - S00011
            - S00017
            - S00104
            - S00020
            - S00126
            - S01701
            - S00024
            - S01401
            - S01403
            - S00802
            - S00804
            - S00037
            - S00003
            - S00103
            - S00123
            - S00029
            - S00106
            - S00004
            - S00038
            - S01201
            - S00018
            - S00060
            - S00803
            - S00039
            - S00118
            - S00040
            - S01601
            - S01702
            - S01603
            - S01602
            - S01301
            - S00034
            - S00033
            - S00021
            - S00032
            - S00041
            - S00014
            - S00027
            - S00028
            - S00023
            - S00030
            - S00008
            - S00047
            - S00124
            - S00117
            - S00042
            - S00016
            - S00128
            - S01501
            - S00055
            - S00046
            - S00043
            - S00116
            - S00058
            - S00044
            - S00045
        legal_form_ids:
          type: array
          example:
            - value: S00009
              valid_from: '2020-12-20'
            - value: S00009
              valid_from: '2020-12-20'
            - value: S00009
              valid_from: '2020-12-20'
          items:
            $ref: '#/components/schemas/MasterClientFull.HistoricalValueString'
        date_of_birth:
          type: string
          description: (Geburtsdatum) Date of birth of a natural person.
          format: date
          example: '1988-11-25'
        etin:
          maxLength: 14
          pattern: ^[A-Z]{8}[0-9]{2}[A-Z]{1}[0-9]{2}[A-Z]{1}$
          type: string
          description: >-
            (eTIN) The eTIN is an income tax-related identification number given
            to every employee in Germany; the legal basis is Section 41b (2) of
            the German Income Tax Act (EStG). However, the calculation method
            does not exclude the possibility that the same eTIN might be
            assigned to more than one person. As it is sufficiently unlikely,
            however, that two different people with the same eTIN fall within
            the jurisdiction of the same tax authority, this is acceptable for
            the purposes of the eTIN. The eTIN is a 14-character code that is
            made up of the following personal data; last name, first name, and
            date of birth; it comprises the upper-case letters A to Z, as well
            as the digits 0 to 9. As long as this personal data does not change
            (e.g. a change of name upon marriage), the eTIN will remain valid;
            otherwise, it has to be amended to reflect the change in name.
          example: MLLRSTFN99J17B
        firstname:
          maxLength: 30
          type: string
          description: (Vorname) First name of a natural person.
          example: Josef
        politically_exposed_person:
          type: boolean
          description: >-
            (Politisch exponierte Person) Indicates wether the addressee is a
            politically exposed person (PEP).
          example: false
        sex:
          type: string
          description: (Geschlecht) Gender of a natural person.
          example: male
          enum:
            - male
            - female
            - diverse
        current_surname:
          maxLength: 40
          minLength: 1
          type: string
          description: >-
            (Nachname) Current last name of a natural person (= value as at
            system date).
          example: Mustermann
        surnames:
          type: array
          example:
            - value: Mustermann
              valid_from: '2020-12-20'
            - value: Mustermann
              valid_from: '2020-12-20'
            - value: Mustermann
              valid_from: '2020-12-20'
          items:
            $ref: '#/components/schemas/MasterClientFull.HistoricalValueString'
        tax_identification_number:
          maxLength: 11
          pattern: ^([1-9]\d{10})$
          type: string
          description: >-
            (Steueridentifikationsnummer) The natural person's tax
            identification number as issued by German financial authorities.
          example: '52618937442'
        detail:
          $ref: '#/components/schemas/MasterClientFull.Addressee.Detail'
        addresses:
          type: array
          description: (Adressen) Addresses of an addressee.
          items:
            $ref: '#/components/schemas/MasterClientFull.Address'
        communications:
          type: array
          description: (Kommunikationsverbindungen) Communication data of an addressee.
          items:
            $ref: '#/components/schemas/MasterClientFull.Communication'
        bank_accounts:
          type: array
          description: (Bankverbindungen) Bank accounts of an addressee.
          items:
            $ref: '#/components/schemas/MasterClientFull.BankAccount'
        tax_offices:
          type: array
          description: (Finanzamt) Tax offices of an addressee.
          items:
            $ref: '#/components/schemas/MasterClientFull.TaxOffice'
        children:
          type: array
          description: (Kinder) Children of a natural person.
          items:
            $ref: '#/components/schemas/MasterClientFull.Addressee.Child'
        contact_persons:
          type: array
          description: (Ansprechpartner) Contact persons of an addressee.
          items:
            $ref: '#/components/schemas/MasterClientFull.Addressee.ContactPerson'
        legal_representatives_of_company:
          type: array
          description: >-
            (Gesetzliche Vertreter des Unternehmens) Legal representatives of a
            legal person.
          items:
            $ref: >-
              #/components/schemas/MasterClientFull.Addressee.LegalRepresentativeOfCompany
        legal_representatives_of_natural_person:
          type: array
          description: >-
            (Gesetzliche Vertreter der Person) Legal representatives of a
            natural person.
          items:
            $ref: >-
              #/components/schemas/MasterClientFull.Addressee.LegalRepresentativeOfNaturalPerson
        ultimate_beneficial_owners:
          type: array
          description: >-
            (Wirtschaftliche Berechtigte) Ultimate benefical owner of an
            addressee.
          items:
            $ref: >-
              #/components/schemas/MasterClientFull.Addressee.UltimateBeneficialOwner
        proprietor:
          $ref: '#/components/schemas/MasterClientFull.Addressee.Proprietor'
      description: (Adressat) An addressee of a master client.
    MasterClientFull.Addressee.Child:
      type: object
      properties:
        id:
          type: string
          description: 'GUID of a relationship - internal identifier. '
          format: uuid
        display_name:
          maxLength: 72
          type: string
          description: Comprise a display name of the referenced addressee.
          example: Mustermeier, Georg
        natural_person_id:
          type: string
          description: GUID of the referenced natural person addressee.
          format: uuid
          example: 4715fa7c-3e81-4255-9a3a-df12c97ad443
        relationship_to_child:
          type: string
          description: >-
            (Kindschaftsverhältnis) Type of relationship from the addressee to
            the child. The following values are possible (ADOPT=Adoptivkind,
            ENKEL=Im Haushalt aufgen. Enkelkind, LEIBL=Leibliches Kind,
            PFLEG=Pflegekind, STIEF=Im Haushalt aufgen. Stiefkind).
          example: LEIBL
          enum:
            - ADOPT
            - ENKEL
            - LEIBL
            - PFLEG
            - STIEF
      description: (Angaben zum Kind) Specific data for the child.
    MasterClientFull.Addressee.ContactPerson:
      type: object
      properties:
        id:
          type: string
          description: 'GUID of a relationship - internal identifier. '
          format: uuid
        display_name:
          maxLength: 72
          type: string
          description: Comprise a display name of the referenced addressee.
          example: Mustermeier, Georg
        addressee_id:
          type: string
          description: GUID of the referenced addressee.
          format: uuid
        department:
          maxLength: 30
          type: string
          description: (Abteilung) Department in which the contact person is active.
        function:
          maxLength: 30
          type: string
          description: (Funktion) Function of the contact person.
        note:
          maxLength: 255
          type: string
          description: (Notiz) Field for notes about the contact person.
      description: (Angaben zum Ansprechpartner) Contact person specific data.
    MasterClientFull.Addressee.Detail:
      type: object
      properties:
        complimentary_close:
          maxLength: 50
          type: string
          description: >-
            (Grußformel) The complimentary close defines the sign-off used for
            an addressee in correspondence.
          example: Mit freundlichen Grüßen
        correspondence_title:
          maxLength: 30
          type: string
          description: >-
            (Anrede) The title is the way in which an addressee is addressed.
            Examples are "Ms." or "Mr."
          example: Herrn
        national_right:
          type: string
          description: >-
            (Nationales Recht) Indicates which national law governs the
            provision of services to the addressee. Accounting may, for example,
            be carried out in accordance with Austrian law. It is currently
            possible to choose between German (DE) and Austrian (AT) law.
          example: DE
          enum:
            - DE
            - AT
        note:
          maxLength: 65535
          type: string
          description: (Notiz) Note about an addressee (free text).
          example: Notiz zu Adressat Erwin Mustermeier
        salutation:
          maxLength: 100
          type: string
          description: >-
            (Briefanrede) Salutation for correspondence as it appears in
            letters.
          example: Sehr geehrte Damen und Herren,
        current_code_of_classification_of_economic_activities_2008:
          maxLength: 7
          type: string
          description: >-
            (Klassifikation der Wirtschszweige nach WZ 2008/Branchenschlüssel)
            Current (= value as at system date) code of classification of
            economic activities as per the 2008 classification. These codes are
            used to classify enterprises by industry, type and sector. The code
            is a prerequisite for comparing enterprises. This code is the
            official code of the German Federal Statistical Office (w/o DATEV
            extensions
          example: 43.32.0
        codes_of_classification_of_economic_activities_2008:
          type: array
          example:
            - value: 43.32.0
              valid_from: '2020-12-20'
            - value: 43.32.0
              valid_from: '2020-12-20'
            - value: 43.32.0
              valid_from: '2020-12-20'
          items:
            $ref: '#/components/schemas/MasterClientFull.HistoricalValueString'
        current_description_of_classification_of_economic_activities_2008:
          maxLength: 70
          type: string
          description: >-
            (Klassifikation der Wirtschaftszweige nach WZ 2008/Bezeichnungen)
            Current (= value as at system date) description of classification of
            economic activities as per the 2008 classification.
          example: Bautischlerei und -schlosserei
        descriptions_of_classification_of_economic_activities_2008:
          type: array
          example:
            - value: Bautischlerei und -schlosserei
              valid_from: '2020-12-20'
            - value: Bautischlerei und -schlosserei
              valid_from: '2020-12-20'
            - value: Bautischlerei und -schlosserei
              valid_from: '2020-12-20'
          items:
            $ref: '#/components/schemas/MasterClientFull.HistoricalValueString'
        current_mad_code_of_classification_of_economic_activities_2008:
          maxLength: 30
          type: string
          description: >-
            (Klassifikation der Wirtschaftsszweige nach WZ
            2008/Branchenschlüssel MAD) Current (= value as at system date) code
            (MAD) of classification of economic activities as per the 2008
            classification.
          example: D01.00FF43.32.0000000000000000
        mad_codes_of_classification_of_economic_activities_2008:
          type: array
          example:
            - value: D01.00FF43.32.0000000000000000
              valid_from: '2020-12-20'
            - value: D01.00FF43.32.0000000000000000
              valid_from: '2020-12-20'
            - value: D01.00FF43.32.0000000000000000
              valid_from: '2020-12-20'
          items:
            $ref: '#/components/schemas/MasterClientFull.HistoricalValueString'
        current_code_of_classification_of_economic_activities_2003:
          maxLength: 7
          type: string
          description: >-
            (Klassifikation der Wirtschaftszweige nach WZ
            2003/Branchenschlüssel) Current (= value as at system date) code of
            classification of economic activities as per the 2003
            classification. These codes are used to classify enterprises by
            industry, type and sector. The code is a prerequisite for comparing
            enterprises. This code is the official code of the German Federal
            Statistical Office (w/o DATEV extensions
          example: 45.42.0
        codes_of_classification_of_economic_activities_2003:
          type: array
          example:
            - value: 45.42.0
              valid_from: '2020-12-20'
            - value: 45.42.0
              valid_from: '2020-12-20'
            - value: 45.42.0
              valid_from: '2020-12-20'
          items:
            $ref: '#/components/schemas/MasterClientFull.HistoricalValueString'
        current_description_of_classification_of_economic_activities_2003:
          maxLength: 80
          type: string
          description: >-
            (Klassifikation der Wirtschaftszweige nach WZ 2003/Bezeichnungen)
            Current (= value as at system date) description of classification of
            economic activities as per the 2003 classification.
          example: Bautischlerei und -schlosserei
        descriptions_of_classification_of_economic_activities_2003:
          type: array
          example:
            - value: Bautischlerei und -schlosserei
              valid_from: '2020-12-20'
            - value: Bautischlerei und -schlosserei
              valid_from: '2020-12-20'
            - value: Bautischlerei und -schlosserei
              valid_from: '2020-12-20'
          items:
            $ref: '#/components/schemas/MasterClientFull.HistoricalValueString'
        current_mad_code_of_classification_of_economic_activities_2003:
          maxLength: 40
          type: string
          description: >-
            (Klassifikation der Wirtschaftszweige nach WZ 2003/Branchenschlüssel
            MAD) Current (= value as at system date) code (MAD) of
            classification of economic activities as per the 2003
            classification.
          example: 01.00AFA45.42.0000000000000000
        mad_codes_of_classification_of_economic_activities_2003:
          type: array
          example:
            - value: 01.00AFA45.42.0000000000000000
              valid_from: '2020-12-20'
            - value: 01.00AFA45.42.0000000000000000
              valid_from: '2020-12-20'
            - value: 01.00AFA45.42.0000000000000000
              valid_from: '2020-12-20'
          items:
            $ref: '#/components/schemas/MasterClientFull.HistoricalValueString'
        current_country_of_head_office:
          maxLength: 2
          type: string
          description: >-
            (Land des Firmensitzes) Current (= value as at system date) country
            in which the company has its head office. A list of all available
            country codes can be retrieved via `GET /country-codes`.
          example: DE
        countries_of_head_office:
          type: array
          example:
            - value: DE
              valid_from: '2020-12-20'
            - value: DE
              valid_from: '2020-12-20'
            - value: DE
              valid_from: '2020-12-20'
          items:
            $ref: '#/components/schemas/MasterClientFull.HistoricalValueString'
        date_of_memorandum_of_association:
          type: string
          description: >-
            (Gesellschaftsvertrag vom) Indicates the date of the memorandum of
            association.
          format: date
        current_distribution_of_profit:
          maxLength: 50
          type: string
          description: >-
            (Art der Ergebnisaufteilung) Indicates the method used to distribute
            profit (or loss) among the shareholders (= value as at system date).
            The following values are permissible (ANDERER=Anderer
            Aufteilungsschlüssel, BRUCH=Nach Bruchteilen, BRUCHAUTO=Nach
            Bruchteilen mit automatischer Ermittlung des Gesamtnenners,
            EINKAP=Nach eingezahltem Kapital, GEZKAP=Nach gezeichnetem Kapital,
            KOPFMKOMP=Automatische Aufteilung nach Köpfen mit Berücksichtigung
            der Komplementäre, KOPFOKOMP=Automatische Aufteilung nach Köpfen
            ohne Berücksichtigung der Komplementäre, PROZENT=Nach
            Prozentanteilen).
          example: BRUCH
          enum:
            - ANDERER
            - BRUCH
            - BRUCHAUTO
            - EINKAP
            - GEZKAP
            - KOPFMKOMP
            - KOPFOKOMP
            - PROZENT
        distributions_of_profit:
          type: array
          example:
            - value: BRUCH
              valid_from: '2020-12-20'
            - value: BRUCH
              valid_from: '2020-12-20'
            - value: BRUCH
              valid_from: '2020-12-20'
          items:
            $ref: '#/components/schemas/MasterClientFull.HistoricalValueString'
        current_enterprise_purpose:
          maxLength: 99
          type: string
          description: >-
            (Unternehmensgegenstand) The current activity or the main output
            that a company produces (= value as at system date). The main
            product line of a company can be derived from the enterprise
            purpose.
          example: Schreinerei
        enterprise_purposes:
          type: array
          example:
            - value: Schreinerei
              valid_from: '2020-12-20'
            - value: Schreinerei
              valid_from: '2020-12-20'
            - value: Schreinerei
              valid_from: '2020-12-20'
          items:
            $ref: '#/components/schemas/MasterClientFull.HistoricalValueString'
        current_federal_state_mad_of_legal_person:
          maximum: 99
          minimum: 1
          type: integer
          description: >-
            (Bundesland MAD) Current federal state (MAD) of the company (= value
            as at system date). A federal state is a subdivision of a federal
            country. "FederalStateMAD" (client address data) includes
            extensions. In addition to the federal states, the following values
            are required - "Berlin-Ost" (for measuring the contribution
            assessment ceiling), "Nordbaden" (for checking the tax authorities
            responsible for Nordbaden), and "Bremerhaven" (which has different
            rules to Bremen on the distribution of church tax). The following
            values are permissible (1 = Baden-Württemberg ohne Nordbaden, 10 =
            Saarland, 11 = Schleswig-Holstein, 2 = Bayern, 3 = Berlin (ehem.
[...]
